<!DOCTYPE html>
<html>
  <head>
    <title>templates</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body align="center">
    <h1></h1>
    <% if (typeof(username) == 'undefined') {%>
      <% username = 'debug'%>
    <% } %>

    <p><b>Hey, <%= username %>! Choose a Template</b></p>
    <a href=/logout>logout</a>

    <% print.forEach(function (templates) { %>
    <p>  
        <td><b>Template#: </b> <%= templates.id %></td>
        <br>
        <td><b>Title: </b> <%= templates.chart_title %></td>
        <br>
        <img src="<%= templates.chart_url %>" alt="Trulli" width="500" height="333">
        <br>
        <td><b>Description: </b><%= templates.description%></td>
    </p>
    <a href='/select/<%= username %>/<%= templates.id %>'> Select </a>                    
    <% }) %>


  </body>
</html>
